.container{
display: flex;
flex-direction: column;

}
.containerBody{
  position: absolute;
  top:0%
 
}

.conatinerImg{
  display: flex;
  width: 100vw;
  height: 830px;
background-size: cover; 
justify-content: center;
align-items: center;
font-weight: 600;
font-family: 'Times New Roman', Times, serif;
font-size: 17px;
color: white;
}
.containerBodyContent{
  margin: 50px;
  /* width: 100%; */
  border-bottom: 2px solid rgb(187, 179, 179);


}
.mainContent{
  width: 570px;
  line-height: 30px;
  font-weight: 500;
  color: gray;
  
}
.placeList{
  display: grid;

grid-template-columns: 1fr 1fr 1fr;
margin: 50px;

border-bottom: 2px solid rgb(187, 179, 179);
}